img{
  height: 200px;
}

.beer-list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.beer-card{
  margin: 10px;
  width: 250px;
  height: 350px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 25px;
}

.scrolly{
  overflow-y: scroll;
  width: 100%;
  height: 70%;
}
